name: WakaTime
on:
  schedule:
    # Runs at 12 am  '0 0 * * *'
    - cron: "0 * * * *"
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with WakaTime stats
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOW_TITLE: true
          BLOCKS: ░▒▓█
          CODE_LANG: text
          TIME_RANGE: last_7_days
          LANG_COUNT: 8
          SHOW_TIME: true
          SHOW_TOTAL: true
          SHOW_MASKED_TIME: false
          STOP_AT_OTHER: false
          SHOW_EDITORS: true
          SHOW_PROJECTS: true
          SHOW_OS: true
          SHOW_LANGUAGE: true
